<tr>
  <td>
    <%= link_to subject.title, admin_subject_path(subject) %>
  </td>
  <td>
    <%= link_to t("table.delete"), [:admin, subject], method: :delete,
      data: {confirm: t("confirm")} %>
  </td>
  <td>
    <%= link_to t("table.update"), edit_admin_subject_path(subject) %>
  </td>
</tr>
