<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h3>
        <%= t "subject.update" %>
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12" id="subject-form-update">
      <ul class="alert alert-danger" id="validate-subject">
        <li id="error-number-task"></li>
        <li id="error-subject-title"></li>
        <li id="error-subject-description"></li>
      </ul>
      <%= render "form" %>
    </div>
  </div>
</div>
