<%= link_to t("subject.create"), new_admin_subject_path, class: "btn btn-primary" %>
<%= link_to t("course.all_course"), admin_courses_path, class: "btn btn-primary" %>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h3>
        <%= t "subject.all_subject" %>
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12" id="subject-index">
      <%= render "index" %>
    </div>
  </div>
</div>
