<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h3>
        <%= t("subject.create") %>
      </h3>
    </div>
  </div>
  <div class="row">
    <%= render "form" %>
  </div>
</div>
