<h2 class="flow-text center-align" >
  <%= t "user.my_course" %>
</h2>
<% if @courses.present? %>
  <% @courses.each do |user_course| %>
    <p>
      <%= user_course_status user_course %>
    </p>
  <% end %>
<% else %>
  <div class="center-align">
    <h4 class="flow-text">
      <%= t "home.no_courses" %>
    </h4>
    <%= image_tag "no_courses.png", 
      class: "main-page-image section-m-20" %>
  </div>
<% end %>
