<div class="row">
  <% @users.each do |user| %>
    <div class="col-md-6 user-block">
      <div class="row">
        <%= link_to user do %>
          <div class="col-md-2">
            <%= image_tag "avatar.jpg", class: "img-responsive img-circle", 
              alt: user.name %>
          </div>
          <div class="col-md-10">
            <h3><%= user.name %></h3>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
