<% if object.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      <%= t "form.content_error", count: pluralize(object.errors.count, t("form.error")) %>
    </div>
    <ul class="alert alert-danger">
      <% object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
