<tr>
  <td>
    <%= course.title %>
  </td>
  <td>
    <%= link_to t("table.update"), edit_admin_course_path(course) %>
  </td>
  <td>
    <%= link_to t("table.delete"), [:admin, course], method: :delete,
      data: {confirm: t("confirm")} %>
  </td>
</tr>
