<h3>
  <%= t "subject.all_subject" %>
</h3>
<div id="list-course-subject">
  <%= render "list_course_subjects", course_subjects: @course_subjects %>
</div>
<%= will_paginate @course_subjects, param_name: :page_subject %>
