<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <h3>
        <%= @course.title %>
      </h3>
    </div>
    <div class="col-sm-9">
      <div class="row">
        <div class="col-sm-12" id="course-subjects">
          <%= render "course_subjects" %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12" id="course-users">
          <%= render "course_users" %>
        </div>
      </div>
    </div>
  </div>
</div>
