<div class="container">
  <% flash.each do |type, notice| %>
    <div class="card-panel <%= notice_type type %> lighten-1">
      <span class="white-text"><%= notice %></span>
    </div>
  <% end %>
</div>
